In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.9.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 5.7 MB/s
Collecting requests>=2.26
  Downloading requests-2.28.0-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.0 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.5.18.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.28.0 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.9.0 requests-2.28.0 yfinance-0.1.70

In [ ]:
!pip install pandas_ta

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandas_ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     |████████████████████████████████| 115 kB 5.0 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandas_ta) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandas_ta) (1.15.0)
Building wheels for collected packages: pandas-ta
  Building wheel for pandas-ta (setup.py) ... done
  Created wheel for pandas-ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218923 sha256=1fff0ae1db3b0a403c54a44b9468a9fd14faddf79549df8d90bdf1b682967533
  Stored in directory: /root/.cache/pip/wheels/0b/81/f0/cca85757840e4616a2c6b9fe12569d97d324c27cac60724c58
Successfully built pandas-ta
Installing collected packages: pandas-ta
Successfully installed pandas-ta-0.3.14b0

In [ ]:
import pandas as pd
import yfinance as yf
import pandas_ta as ta

In [ ]:
start = '2021-01-01'
end = '2022-01-01'

In [ ]:
data = yf.download('BTC-USD', start=start, end=end)
df = data.copy()

[*********************100%***********************]  1 of 1 completed

In [ ]:
df.ta.macd(append=True)
df.ta.rsi(10,append=True)

Date
2021-01-01          NaN
2021-01-02          NaN
2021-01-03          NaN
2021-01-04          NaN
2021-01-05          NaN
                ...
2021-12-28    39.888020
2021-12-29    35.831064
2021-12-30    40.165526
2021-12-31    36.876097
2022-01-01    44.826558
Name: RSI_10, Length: 366, dtype: float64

In [ ]:
df

,Open,High,Low,Close,Adj Close,Volume,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,RSI_10
Date,,,,,,,,,,
2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,29374.152344,40730301359,NaN,NaN,NaN,NaN
2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,32127.267578,67865420765,NaN,NaN,NaN,NaN
2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,32782.023438,78665235202,NaN,NaN,NaN,NaN
2021-01-04,32810.949219,33440.218750,28722.755859,31971.914062,31971.914062,81163475344,NaN,NaN,NaN,NaN
2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,33992.429688,67547324782,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2021-12-28,50679.859375,50679.859375,47414.210938,47588.855469,47588.855469,33430376883,-963.158844,538.089842,-1501.248686,39.888020
2021-12-29,47623.871094,48119.742188,46201.496094,46444.710938,46444.710938,30049226299,-1120.800746,304.358352,-1425.159098,35.831064
2021-12-30,46490.605469,47879.964844,46060.312500,47178.125000,47178.125000,26686491018,-1173.030735,201.702690,-1374.733425,40.165526
2021-12-31,47169.371094,48472.527344,45819.953125,46306.445312,46306.445312,36974172400,-1270.119497,83.691143,-1353.810640,36.876097
2022-01-01,46311.746094,47827.312500,46288.484375,47686.812500,47686.812500,24582667004,-1221.597133,105.770805,-1327.367938,44.826558

In [ ]:
CustomStrategy = ta.Strategy(
    name='anything',
    description='anyhow',
    ta = [{'kind':'ema', 'length':12},
          {'kind':'ema', 'length':26},
          {'kind':'macd', 'fast':12, 'slow':21},
          {'kind':'rsi'}]
)

In [ ]:
df.ta.strategy(CustomStrategy)

In [ ]:
df

,Open,High,Low,Close,Adj Close,Volume,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,RSI_10,EMA_12,EMA_26,MACD_12_21_9,MACDh_12_21_9,MACDs_12_21_9,RSI_14
Date,,,,,,,,,,,,,,,,
2021-01-01,28994.009766,29600.626953,28803.585938,29374.152344,29374.152344,40730301359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-02,29376.455078,33155.117188,29091.181641,32127.267578,32127.267578,67865420765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-03,32129.408203,34608.558594,32052.316406,32782.023438,32782.023438,78665235202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-04,32810.949219,33440.218750,28722.755859,31971.914062,31971.914062,81163475344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-05,31977.041016,34437.589844,30221.187500,33992.429688,33992.429688,67547324782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-28,50679.859375,50679.859375,47414.210938,47588.855469,47588.855469,33430376883,-963.158844,538.089842,-1501.248686,39.888020,49315.226562,50278.385406,-483.606867,399.668322,-883.275189,40.840563
2021-12-29,47623.871094,48119.742188,46201.496094,46444.710938,46444.710938,30049226299,-1120.800746,304.358352,-1425.159098,35.831064,48873.608773,49994.409519,-620.304429,210.376608,-830.681037,37.986943
2021-12-30,46490.605469,47879.964844,46060.312500,47178.125000,47178.125000,26686491018,-1173.030735,201.702690,-1374.733425,40.165526,48612.765116,49785.795851,-670.621886,128.047321,-798.669207,40.840471
2021-12-31,47169.371094,48472.527344,45819.953125,46306.445312,46306.445312,36974172400,-1270.119497,83.691143,-1353.810640,36.876097,48257.946685,49528.066182,-754.809255,35.087962,-789.897217,38.568889
2022-01-01,46311.746094,47827.312500,46288.484375,47686.812500,47686.812500,24582667004,-1221.597133,105.770805,-1327.367938,44.826558,48170.079887,49391.677020,-722.135740,54.209181,-776.344921,43.891098

In [ ]:
df['MACD_trend'] = df['MACD_12_21_9'] > df['MACDs_12_21_9']

In [ ]:
df.loc[(df['MACD_trend']==True) & (df['MACD_trend'].shift()==False) & df['RSI_14']>50, 'action'] = 'buy'

In [ ]:
df[df.action=='buy'].iloc[:,-5:]

Empty DataFrame
Columns: [MACDh_12_21_9, MACDs_12_21_9, RSI_14, MACD_trend, action]
Index: []

In [ ]:
df.loc[(df['MACD_trend']==False)&(df['MACD_trend'].shift()==True) & (df['RSI_14'] <50), 'action'] = 'sell'

In [ ]:
df[df.action.notnull()].iloc[:,-5:]

            MACDh_12_21_9  MACDs_12_21_9     RSI_14  MACD_trend action
Date
2021-04-18    -240.011967     965.911745  43.343681       False   sell
2021-05-12    -243.389311     -64.061340  37.128000       False   sell
2021-06-21     -93.780884    -804.830939  34.707344       False   sell
2021-07-15     -45.259302    -501.071985  39.901493       False   sell
2021-09-07    -169.325523    1092.160253  47.848657       False   sell
2021-12-17      -3.614026   -1929.211225  35.315798       False   sell

In [ ]:
df = data.copy()
df.ta.strategy(CustomStrategy)

In [ ]:
df['MACD_trend'] = df['MACD_12_21_9'] > df['MACDs_12_21_9']
df.loc[(df['MACD_trend']==True)&(df['MACD_trend'].shift() == False) & (df['RSI_14'] > 50), 'action'] = 'buy'
df.loc[(df['MACD_trend']==False)&(df['MACD_trend'].shift() == True) & (df['RSI_14'] > 50), 'action'] = 'sell'

In [ ]:
df[df.action.notnull()].iloc[:,-5:]

            MACDh_12_21_9  MACDs_12_21_9     RSI_14  MACD_trend action
Date
2021-01-29       9.041887    -673.486693  52.021156        True    buy
2021-02-23     -12.363400    3031.795380  55.175246       False   sell
2021-03-09      81.274293    1042.859520  64.465804        True    buy
2021-03-20     -20.314771    1887.729593  61.146187       False   sell
2021-03-31      16.519698     819.287696  60.709728        True    buy
2021-04-06     -27.214899     880.838832  56.029036       False   sell
2021-04-11       7.804712     749.328028  60.165273        True    buy
2021-04-30     107.977612    -803.718001  54.640138        True    buy
2021-08-17    -104.641580    1870.944144  58.485171       False   sell
2021-08-22      16.484534    1754.140523  68.138208        True    buy
2021-08-24     -82.284970    1740.020200  60.647973       False   sell
2021-09-06      79.055789    1134.491633  68.654300        True    buy
2021-10-01     214.711508    -753.635752  58.016422        True    buy
2021-10-23     -75.484732    2684.414238  62.340327       False   sell
2021-11-08       4.863852    1228.899002  68.095468        True    buy
2021-11-12     -48.246964    1280.750424  57.058404       False   sell